:root{
    /* colors */
    --yelow: rgba(218, 195, 145, 1);
    --pink: rgba(231, 208, 216, 1);
    --deep_pink: rgba(229, 144, 165, 1);
    --blue: rgba(80, 117, 146, 1);
    --purple: rgba(117, 99, 139, 1);

    /* font */
    --font: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
}
/* GLOBALS */
html{
    font-family: var(--font);
    font-size: 62.5%; /* STANDARD TO REM */
    box-sizing: border-box;/* HACK BOXMODEL */
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-color: var(--purple);
    font-size: 1.6rem;
    line-height: 1.2; /* innerline in the paragraph */
}
main {
    width: 90%;
}
p {
    font-size: 1.8rem;
    color: var(--pink);
}
a {
    text-decoration: none; /* link line off */
}
img {
    max-width: 100%;
}
.container{
    max-width: 120rem;
    margin: 0 auto; /* center */
}
h1, h2, h3 {
    text-align: center;
    color: var(--deep_pink);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
/* HEADER */
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;

}
/* FOOTER */
.footer {
    background-color: var(--blue);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__text {
    text-align: center;
    font-style: italic;
    font-size: 2.2rem;
}
/* NAVBAR */
.navbar {
    background-color: var(--blue);
    padding: 1rem;
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
}
.navbar__link {
    color: var(--pink);
    padding: 0rem 1rem;
}
.navbar__link--active,
.navbar__link:hover {
    color: var(--yelow);
    font-weight: bold;
    text-decoration:underline;
}
/* GRID */
.grid {
    background-color: rgba(229, 144, 165, .8);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem;
    /* column-gap: 2rem;
    row-gap: 2rem; */
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* PRODUCTS */
.product {
    background-color: white;
    padding: 1rem 2rem;
}
.product__img{
    width: 100% /* make responsive the images becose when you change de size of the browser, they do too */
}
.product__info{
    text-align: center;
}
.product__name{
    font-size: 4rem;
    color: var(--yelow);
}
.product__price{
    font-size: 2.8rem;
    color: var(--blue);
}
.product__name, .product__price {
    margin: 1rem 0;
    line-height: 1.2;
}
/* GRAPHICS */
.graphic {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.graphic--shirt {
    grid-row : 2 / 3;
    background-image: url(../img/grafico1.jpg);
}
.graphic--node {
    background-image: url(../img/grafico2.jpg);
    grid-row : 8 / 9;
}
@media (min-width: 768px) {
    .graphic--node {
        grid-row : 5 / 6;
        grid-column: 2 / 4;
    }
}
/* US */
.us {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
}
@media (min-width: 768px) {
    .us {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.us__content {
    text-align: justify;
}
.us__image {
    grid-row: 1 / 2;
    width: 100%;
}
@media (min-width: 768px) {
    .us__image {
        grid-column: 2 / 3;
    }
}
/* BLOCKS */
.blocks {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .blocks {
        grid-template-columns: repeat(4 , 1fr);
        
}
.block {
    text-align:center;
}
.bock__image {
    width: 100%;
}
.block__title{
    margin: 0;
}